// ConnectFour 
.connect-four
    width: 600px
    max-width: 100%

.cf-board,
.cf-input-row 
    box-sizing: border-box
    display: flex 
    flex-wrap: wrap
    width: 100% 
    margin: 0 auto

.cf-cell,
.cf-input
    flex: 0 0 calc(100% / 7)
    box-sizing: border-box
    padding: 5px 
    border: solid 3px #666 
    text-align: center
    border-radius: 0
    height: 80px
    align-content: center

.cf-cell
    font-weight: bold
    &.r 
        background: red
        color: #333 
    &.y
        background: yellow
        color: #333
    &.active
        border-color: #fff