// ConnectFour 
.connect-four
    width: 600px
    max-width: 100%

.cf-board,
.cf-input-row 
    display: flex 
    flex-wrap: wrap
    width: 100% 
    margin: 0 auto

.cf-cell,
.cf-input
    flex: 0 0 calc(100% / 7)
    box-sizing: border-box
    padding: 5px 
    border: solid 1px #ddd 
    text-align: center
    border-radius: 0
    
    height: 80px
    line-height: 80px