//////////////////////////////////////////////////////////
// Styles: Spellboox
//////////////////////////////////////////////////////////

.spellbook-header
    display: block
    border: dotted 1px #666
    padding: 20px

.spellbook-body
    display: flex 
    width: 760px
    max-width: 100%
    border: dotted 1px #666
    text-align: left
    aside 
        width: 260px
        padding: 0 20px
        ul 
            padding: 0
        li 
            display: block
            margin-bottom: 5px
        button 
            display: block
            width: 100%
            text-align: left
        input[type=text]
            box-sizing: border-box
            padding: 0.6em 1.2em
            width: 100%
    main 
        flex: 1
        padding: 0 20px
        ul 
            padding: 0
        li 
            display: block
    .control-bar 
        display: flex
        flex-wrap: wrap
        .control
            label 
                display: block 
                margin-bottom: 5px
            &:nth-child(1)
                width: 100%
                padding-bottom: 10px
            &:nth-child(2),
            &:nth-child(3)
                width: 50%
                label 
                    margin-bottom: 0









// endfile... 
