//////////////////////////////////////////////////////////
// Styles: Spellboox
//////////////////////////////////////////////////////////

.spellbook-header
    display: block
    border: dotted 1px #666
    padding: 20px

.spellbook-body
    display: flex 
    width: 760px
    max-width: 100%
    // border: dotted 1px #666
    text-align: left
    min-height: 100vh
    aside 
        width: 260px
        padding: 0 20px
        ul 
            padding: 0
        li 
            display: block
            margin-bottom: 5px
        button 
            display: block
            width: 100%
            text-align: left
        input[type=text]
            box-sizing: border-box
            padding: 0.6em 1.2em
            width: 100%
    main 
        flex: 1
        
        ul 
            padding: 0
        li 
            display: block
    .control-bar 
        display: flex
        flex-wrap: wrap
        .control
            label 
                display: block 
                margin-bottom: 5px
            &:nth-child(1)
                width: 100%
                padding-bottom: 10px
            &:nth-child(2),
            &:nth-child(3)
                width: 50%
                label 
                    margin-bottom: 0
    .spell-details 
        position: relative
        // border: solid 1px #fff
        // background-color: #242424
        padding: 20px 20px 40px 20px
        box-sizing: border-box
        width: 100%
        &.sticky 
            position: fixed
            top: 0
            max-height: 100vh
            overflow-y: scroll
        h2 
            margin-top: 0
    .spell-btn
        display: flex 
        gap: 10px
        padding: 0.6em
        align-items:  center
        .marker 
            display: inline-block
            width: 16px 
            height: 16px
            line-height: 16px
            border-radius: 100%
            background-color: #fff
            color: rgb(26,26,26)
            text-align: center
            font-size: 12px
            font-weight: 900
            &.abjuration 
                background-color: #F17EB8
            &.conjuration
                background-color: #31C48D
            &.divination 
                background-color: #FCE96A
            &.enchantment
                background-color: #8DA2FB
            &.evocation
                background-color: #F05252
            &.illusion
                background-color: #3F83F8
            &.necromancy
                background-color: #7E3AF2
            &.transmutation
                background-color: #C27803
    .no-spells-message
        font-size: 14px 
        font-style: italic










// endfile... 
